<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a href="/kaiadmin-lite-1.2.0/index.html" class="logo">
                <img src="/kaiadmin-lite-1.2.0/assets/img/kaiadmin/logo_light.svg"
                     alt="navbar brand"
                     class="navbar-brand"
                     height="20" />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">

                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Formlar</h4>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="/Admin/Widget/WidgetList/">
                        <i class="fas fa-layer-group"></i>
                        <p>İstatistikler</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/Profile/Index/">
                        <i class="fa fa-user"></i>
                        <p>Profil</p>
                    </a>
                </li>
                @*<li>
                    <a href="/Admin/Destination/DestinationList/">
                        <span class="sub-item">Yurtiçi Turları</span>
                    </a>
                </li>*@
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#forms">
                        <i class="fa fa-bars"></i>
                        <p>Kategoriler</p>
                    </a>
                </li>
                <li class="nav-item active submenu">
                    <a data-bs-toggle="collapse" href="#tables">
                        <i class="fa fa-globe"></i>
                        <p>Turlar</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="tables">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/Admin/Destination/DestinationList/">
                                    <span class="sub-item">Yurtiçi Turları</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/Destination/AbroadDestinationList/">
                                    <span class="sub-item">Yurtdışı Turları</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#maps">
                        <i class="fa fa-envelope-open"></i>
                        <p>Mesajlar</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="maps">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="/Admin/Message/InBox">
                                    <span class="sub-item">Gelen Kutusu</span>
                                    <span class="badge badge-success">4</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Admin/Message/SendBox/">
                                    <span class="sub-item">Giden Kutusu</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#charts">
                        <i class="fa fa-exclamation-circle"></i>
                        <p>Hata Sayfaları</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="charts">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="../charts/charts.html">
                                    <span class="sub-item">404</span>
                                </a>
                            </li>
                            <li>
                                <a href="../charts/sparkline.html">
                                    <span class="sub-item">401</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="../widgets.html">
                        <i class="far fa-chart-bar"></i>
                        <p>İstatistikler</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="../../../documentation/index.html">
                        <i class="fa fa-credit-card"></i>
                        <p>Ödeme Sayfası</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Admin/AdminLayout/LogOut/">
                        @*/Admin/Message/Inbox/*@
                        <i class="fa fa-times"></i>
                        <p>Çıkış Yap</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

