@model  List<Project2WooxTravel2.Entities.Destination>

<ul class="dropdown-menu notif-box animated fadeIn"
    aria-labelledby="notifDropdown">
    <li>
        <div class="dropdown-title">
            Son Eklenen 4 Tur
        </div>
    </li>
    <li>
        <div class="notif-scroll scrollbar-outer">
            <div class="notif-center">



                @foreach (var item in Model)
                {
                    <a href="#">
                        <div class="notif-icon notif-primary">
                            <img style="width:50px;height:50px;border-radius:50%; object-fit:cover;" src="@item.ImageUrl" alt="Alternate Text" />
                        </div>
                        <div class="notif-content">
                            <span class="block"> @item.Title </span>
                            <span class="time">@item.DayNight Gün - @(item.DayNight-1) Gece</span>
                        </div>
                    </a>
                }
            </div>
        </div>
    </li>
    <li>
        <a class="see-all" href="javascript:void(0);">
            Tüm Turları Göster<i class="fa fa-angle-right"></i>
        </a>
    </li>
</ul>